{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/for_editing_page.css')}}"> 
{% endblock %}

{% block content %}
<h1>Edit Job</h1>
<form action="{{ url_for('work_with_jobs.edit_job', job_id=job.id) }}" method="post" class="editing_form">

    <label for="job_title">Title</label>
    <input type="text" id="title" name="job_title" value="{{ job.job_title }}" required>

    <label for="team_leader">Team leader</label>
    <select id="team_leader" name="team_leader">
        <!-- ,зер, который стоял до этого. -->
        <option value="{{ job.team_leader_user.id }}" >{{ job.team_leader_user.name }} {{ job.team_leader_user.surname}} ({{ job.team_leader_user.id}})</option>
        {% for team_leader in users %}
        <option value="{{ team_leader.id }}" >{{ team_leader.name }} {{team_leader.surname}} ({{team_leader.id}})</option>
        {% endfor %}
    </select>

    <label for="work_size">Duration (in hours)</label>
    <input type="number" id="work_size" name="work_size" value="{{ job.work_size }}" required>
    
    <label for="collaborators">List of Collaborators</label>
    <input type="text" id="collaborators" name="collaborators" value="{{ job.collaborators }}" required>
    
    <div class="is_finished_block">
        <input type="checkbox" id="is_finished" name="is_finished" {% if job.is_finished %}checked{% endif %}>
        <label for="is_finished">Is Finished?</label>
    </div>

    <div>
        <label for="hazard_category">Hazard category</label>
        <select id="hazard_category" name="hazard_category" required>
            <option value="{{ job.hazard_category_rel.id }}">{{ job.hazard_category_rel.hazard_category_title }}</option>
            {% for category in hazard_category %}
                {% if category.id != job.hazard_category_rel.id %}
                <option value="{{ category.id }}">{{ category.hazard_category_title }}</option>
                {% endif %}
            {% endfor %}
        </select>    
    </div>
    <input type="submit" value="Save changes" class="post_button">
</form>
{% endblock %}