{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css')}}"> 
{% endblock %}


{% block content %}
<h1>Job list</h1>

{% if message %}
    <h3 class="success_message"> {{ message[0] }} </h3>
{% endif %}

<p>This is user ID: {{ current_user_id }}</p>
<button onclick="window.location.href='/create_job'">Add job </button>

{% for job  in jobs %}
    <div class="action">
        <h2>Action # {{ job.id }} </h2>
        <table>
            <tr>
                <th width="200">Title of avtivity</th>
                <th width="100">Team leader</th>
                <th width="50">Duration</th>
                <th width="50">List of collaborators</th>
                <th width="50">Is finished</th>
            </tr>
            <tr>
                <td>{{ job.job_title }}</td>
                <td>{{ job.team_leader_user.name }} {{ job.team_leader_user.surname }}</td>
                <td>{{ job.work_size }} Hours</td>
                <td>{{ job.collaborators }}</td>
                {% if job.is_finished %}
                    <td>Is finished</td>
                {% else %}
                    <td>Is not finished</td>
                {% endif %}
            </tr>
        </table>

        <!-- Проверка на доступ к изменению работы -->

        {% if job.author_user.id == current_user_id or current_user_id == 1 or job.team_leader == current_user_id %}
        <div class="buttons_block">
            <form action="{{ url_for('work_with_jobs.edit_job', job_id=job.id )}}" method="get">
                <button class="edit_job_btn" type="submit">Edit job</button>
            </form>

            <form action="{{ url_for('work_with_jobs.delete_job', job_id=job.id )}}" method="post">
                <button class="delete_job_btn" type="submit">Delete job</button>
            </form>
        </div>
        {% endif %}

    </div>
{% endfor %}


{% endblock %}
