{% extends "base.html" %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register_style.css')}}"> 
{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form class="form1" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="field">

        {{ form.email.label }}
        {{ form.email(class="form-control", type="email") }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    
    <div class="field">
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }}
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>

    <div class="field">
        {{ form.password_again.label }}
        {{ form.password_again(class="form-control", type="password") }}
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>

    <div class="field">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>

    <div class="field">
        {{ form.about.label }}
        {{ form.about(class="form-control") }}
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>

    <div type="submit" class="post_button">{{ form.submit }}</div>
    {{message}}
</form>
{% endblock %}