<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Анкета</title>
</head>
<body>
    <header>
        <h1>Миссия Колонизация Марса</h1>
        <h3>Mars One</h3>
    </header>

    <main>
        <h3>И на Марсе будут яблони цвести!</h3>
        <h2>Размещение по каютам</h2>

        <ul>
            {% for austronaut in data.austronaut_list %}
                {% if loop.index == 1 %}
                    <li>{{ austronaut }} - Каюта № {{ loop.index }} - капитан корабля</li>
                {% else %}
                    <li>{{ austronaut }} - Каюта № {{ loop.index }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </main> 
</body>
</html>