{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_of_departments.css') }}">
{% endblock %}

{% block content %}

{% if message %}
    <h3 class="success_message"> {{ message[0] }} </h3>
{% endif %}

<p>This is user ID: {{ current_user_id }}</p>

<h2>List of Departments</h2>

<div class="buttons_block">
    <button onclick="window.location.href='/create_job'" class="add_btn">Add job </button>
    <button onclick="window.location.href='/add_department'" class="add_btn">Add department </button>
</div>

{% for department in departments %}
    <div class="action">
        <h2>Action # {{ department.id }} </h2>
        <table>
            <tr>
                <th width="200">Title of department</th>
                <th width="100">Chief</th>
                <th width="50">Members</th>
                <th width="50">Department email</th>
            </tr>
            <tr>
                <td>{{ department.title }}</td>
                <td>{{ department.chief_user.name }} {{ department.chief_user.surname }}</td>
                <td>{{ department.members }}</td>
                <td>{{ department.dep_email }}</td>
            </tr>
        </table>

        <!-- Проверка на доступ к изменению работы -->

        {% if department.creator_user.id == current_user_id or current_user_id == 1 or department.creator_user.id == current_user_id %}
        <div class="buttons_block">
            <form action="{{ url_for('work_with_departments.edit_department', dep_id=department.id )}}" method="get">
                <button class="btn_for_edit" type="submit">Edit department</button>
            </form>

            <form action="{{ url_for('work_with_departments.delete_department', dep_id=department.id )}}" method="post">
                <button class="btn_for_delete" type="submit">Delete department</button>
            </form>
        </div>
        {% endif %}

    </div>
{% endfor %}

{% endblock %}